/*DOCUMENT INFORMATION
    -Document: art martiaux theme
    -Version : 1.0.0
    -Author : Karl
*/

/*COLORS
    -Defaut body text black
    -h1 : black
    -h2 : #fff
    -h3 : black
    -background : :#635f5e
    -title separation : 7c1d08 to e0d9d7





*/

/*FONTS
    -Defaut : 'Architects Daughter', cursive;
    -Subtitle
    -h1 : 'Permanent Marker', cursive
    -h2 : 'Architects Daughter', cursive;
    -h3 : 'Permanent Marker', cursive;
    -p : 'Architects Daughter', cursive;
    -p rupture : 'Oswald', sans-serif;
*/

/*CSS DIRECTORY
    1 =CLOBAL
    2 =HEADER
    3 =ART MARTIAUX
    4 =PAGE DETAIL ART MARTIAUX
    5 =PHOTO
    6 =TENUE
*/

/*GLOBAL
======================================*/
html{
    background-color:#635f5e ;
}
.cat{
    margin-bottom: 40px;
}
h1{
    font-family: 'Permanent Marker', cursive;
    color: black;
    text-align: center;
}
h2{
    font-family: 'Architects Daughter', cursive;
    color:#fff;
    text-align: center;
    margin-left: 100px;
}
h2 span:after{
    display : block;
    height: 2px;
    background-color : #7c1d08;
    width: 300px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
    background: linear-gradient(to left, #7c1d08,#e0d9d7);
}
h3{
    font-family: 'Permanent Marker', cursive;
    color: black;
}
h3:before{
    display : block;
    height: 2px;
    background-color : #7c1d08;
    width: 300px;
    content: " ";
    margin: 0 auto;
    margin-top: 10px;
    background: linear-gradient(to left, #7c1d08,#e0d9d7);
}
h4{
    font-family: 'Permanent Marker', cursive;
    color: black;

}
p{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
.title-presentation{
    background: linear-gradient(to right, #7c1d08,#e0d9d7);
    border-radius: 50px;
}



/*HEADER
=====================================*/
header{
    background-image:linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(0, 0, 0, 0.2)), url(../image/kick-4606745__340.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.title{
    background-color: #a3290d;
    border-radius: 50%;
    margin-top: 100px;
}
.silhouette img{
    height: 150px;
    margin-top: 200px;
}
/*ART MARTIAUX======================================*/

.arts-martiaux{
    background-color:#635f5e ;
    background-position: center;
    background-size: cover;
}
.image-art{
    display: inline-block;
    position: relative;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.image-art:hover{
    opacity: .2;
}
.martial-text{
    background: rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: absolute;
    text-align: left;
    bottom: 60%;
}
input{
    width: 100%;
}
/*PAGE DETAIL ART MARTIAUX============================*/

.icone-combat{
height: 40px;
}
/*PAGE JAPON===================================*/
.japon{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PAGE ASIE===================================*/
.dragon{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PAGE EUROPE=======================================*/
.boxeur{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PAGE AMERIQUE=======================================*/
.capoeira{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PAGE RESTE DU MONDE=======================================*/
.earth{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*PHOTO===============================================*/
.photo{
    background-color: #635f5e;
}
/*TENUE===============================================*/
.tenue{
    background-color: #635f5e;
}
.tenue img{
    height: 150px;
    webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.tenue img:hover{
    -webkit-transform: scale(0.75);
	transform: scale(0.75);
}
td{
    border: 1px solid black;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
}
table{
    margin-left: 40px;
    height: 800px;
}
.indisponible{
    display: inline-block;
    position: relative;
    opacity: .4;
}
.rupture{
    position: absolute;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    margin: 50px 0 0 10px;
}
